<div class="container">
  <!-- Section-->
  <section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Votre Panier</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
      nostrum quisquam eum porro a pariatur veniam.</p>

    <!-- Grid row -->
    <div class="row">
      <ng-container *ngFor="let course of courses; let i = index">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4 panier-course-item">
          <!-- Card -->
          <div class="card align-items-center">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="card-img-top" alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center">
              <!-- Category & Title -->
              <a class="grey-text">
                <small>{{course.description}}</small>
              </a>
              <h5>
                <strong>
                  <a class="dark-grey-text">{{course.nom}}</a>
                </strong>
              </h5>
              <h4 class="font-weight-bold blue-text">
                <strong>{{course.prix | currency}}</strong>
              </h4>
<!-- 
              <button mat-raised-button (click)="removeFromPanier(course)">
                <mat-icon>remove</mat-icon>
                Supprimer du panier
              </button> -->
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->

        <!-- Grid row -->
        <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>

    <div>
      <h2>Total price : {{totalPrice | currency}}</h2>
    </div>

  </section>
  <!-- Section-->
</div>