.example-card {
    max-width: 300px;
    min-width: 300px;
    max-height: 350px;
    min-height: 350px;
}

.wrapper {
  justify-content: center;
  width: 65%;
  height: 65%;
}

.example-header-image {
  background-image: url('https://angular.io/assets/images/logos/angular/angular.svg');
  background-size: cover;
}

.search-form {
  width: 50%;
  margin: 30px 100px;
  margin-right: 20px;
}