<!-- <h2 class="h1-responsive font-weight-bold text-center">Welcome to E-SCUELA</h2> -->
<div>
    <img src="assets/images/cover.jpeg" class=" my-5">

    <!-- Card deck -->
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" style="margin-bottom: 20px">
                <img class="card-img-top" src="assets/images/Picture1.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Apprentissage personnalisé</h4>
                <!--Text-->
                <p class="card-text">
                    Les élèves pratiquent à leur propre rythme, en comblant d’abord leurs lacunes puis en accélérant
                    leur apprentissage tout en respectant leurs styles d’apprentissage.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" style="margin-bottom: 90px">
                <img class="card-img-top" src="assets/images/Picture2.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Contenu fiable</h4>
                <!--Text-->
                <p class="card-text">
                    Créés par des experts, les contenus de e-scuela proposent des cours et des exercices fiables
                    couvrant toutes les matières adoptées par le système scolaire marocain et d’autres.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="assets/images/Picture3.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Contrôle parental</h4>
                <!--Text-->
                <p class="card-text">
                    e-scuela permet aux parents le contrôle et le suivie d’apprentissage de leurs enfants.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->

    <hr>
    <div class="about container">
        <p><strong>
                e-scuela s’attache à nouer et à développer des partenariats forts avec différentes écoles avec des
                différents systèmes éducatifs à fin de vous assurer un contenu fiable. Nous sommes fiers de créer nos
                cours et nos parcours en collaboration avec des partenaires prestigieux qui comprennent bien
                l’importance d’intégrer les nouvelles techniques d’information et de communication (TIC) dans le domaine
                d’éducation et qui encourage les jeunes entrepreneurs.
            </strong></p>
    </div>
    <hr>

    <br>
    <h2 class="h1-responsive font-weight-bold text-center">Entreprises et écoles partenaires</h2>

    <div class="card-deck">

        <div class="card mb-4  no-show">
        </div>

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" style="margin-bottom: 20px">
                <img class="card-img-top img-partenaires" src="assets/images/Picture4.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Synergie media </h4>
                <!--Text-->
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" style="margin-bottom: 20px">
                <img class="card-img-top img-partenaires" src="assets/images/Picture5.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Le petit poussin</h4>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <div class="card mb-4 no-show">
        </div>

    </div>
    <!-- Card deck -->
</div>