<!-- <h2 class="h1-responsive font-weight-bold text-center">Welcome to E-SCUELA</h2> -->
<div>
    <img src="assets/images/cover.jpeg" class=" my-5">

    <!-- Card deck -->
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" >
                <img class="card-img-top" src="assets/images/Picture1.png"
                    alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Apprentissage personnalisé</h4>
                <!--Text-->
                <p class="card-text">
                    Les élèves pratiquent à leur propre rythme, en comblant d’abord leurs lacunes puis en accélérant leur apprentissage tout en respectant leurs styles d’apprentissage.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay" style="margin-bottom: 80px">
                <img class="card-img-top" src="assets/images/Picture2.png"
                    alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Contenu fiable</h4>
                <!--Text-->
                <p class="card-text">
                    Créés par des experts, les contenus de e-scuela proposent des cours et des exercices fiables couvrant toutes les matières adoptées par le système scolaire marocain et d’autres.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="assets/images/Picture3.png"
                    alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Contrôle parental</h4>
                <!--Text-->
                <p class="card-text">
                    e-scuela permet aux parents le contrôle et le suivie d’apprentissage de leurs enfants.
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->
</div>